###############################################################################
### Visual Studio and Visual Studio Code directories
###############################################################################
.vs
.vscode

###############################################################################
### 11ty output directory
###############################################################################
_site/

###############################################################################
### Node Modules
###############################################################################
node_modules/

###############################################################################
### OS Specific
###############################################################################
.DS_Store
[Tt]humbs.db
