<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/_head.partial.njk' %}
        {% block headend %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
